<div id="main_title">
	<h1> Switter </h1>
</div>

<div id="portal">
	<div id="portal1"> <%= link_to 'Login', new_swit_path %></div><div id="portal2"> <%= link_to 'Register', new_register_path %>
	</div>
</div>
