<div id="write">
	<%= form_for :post, url: posts_path do |f| %>
	<%= f.hidden_field :author, :value => session[:username] %>
	  <%= f.text_area :body, size: "10x10", :placeholder => 'Write a Swit..' %>
	  <span class="countdown"></span>
	  <%= f.submit "Sweet", class: 'small button', id: 'log-btn2'%>
	  
	<% end %>
</div>

		