// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comments{
	background-color:#B8B8B8;
	padding:15px;
	margin: 5px;
	border-left: solid;
}

#posted{
	margin-top:-5px;
	text-align:left;
}

