// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_swit{
	float:left;
	margin-top: -260px;
	margin-right: 100px;
	margin-left: 500px;
	background-color: #336699;
	border-radius: 5px;
	padding: 10px;
}

#list{
	float:left;
	margin-top: -350px;
	margin-right: 100px;
	margin-left: 500px;
}

#list1{
	float:left;
	margin-top: -20px;
	margin-right: 100px;
	margin-left: 500px;
}

#log-btn2{
	margin-left: 290px;
	margin-top: -10px;
	border-radius: 10px;
}

#form-comment{
	margin-top: -260px;
	margin-right: 100px;
	margin-left: 500px;
}

#log-btn2{
	margin-left: 100px;
}

#menu{
	text-align:right;
}

#main{
	border: solid #0066FF;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	background-color: rgba(120,120,120,0.3);
}

.countdown {
  display: inline;
  margin-top:0px;
  position: right;
  padding-left: 10px;
  color: #888888;
}

body{
	background-image: url('bg.jpg');
	background-size: 100%;
}

#user{
	margin-top: 5px;
	margin-right: 900px;
	margin-left: 100px;
	background-color: #00CCFF;
	border: solid #0066FF;
	border-radius: 25px;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	padding: 20px;
}

#settings{
	text-align:right;
	padding-right: 10px;
	background-color: #00CCFF;
	margin-bottom: -5px;
	border: solid #00CCFF;
	border-radius: 55px;
}

#back{
	text-align:right;
	padding-right:10px;	
}

#pic{
	border: solid;
	border-radius: 10px;
	width: 20%;
}

#hi{
	margin-top: -55px;
	font-size: 30px;
	font-family: Verdana;
}
