// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_swit{
	float:left;
	margin-top: -260px;
	margin-right: 100px;
	margin-left: 500px;
	background-color: #336699;
	border-radius: 5px;
	padding: 10px;
}

#list{
	float:left;
	margin-top: -260px;
	margin-right: 100px;
	margin-left: 500px;
}

#log-btn2{
	margin-left: 290px;
	margin-top: -10px;
	border-radius: 10px;
}