// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login{
	margin: 100px 400px 0px 400px;
	border: solid #00CCFF;
	border-radius: 20px;
	padding: 30px;
	font-color: #0066FF;
	background-color: white;
	opacity: 0.8;
}

h3{
	color: #0033FF;
}