// Place all the styles related to the swits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main_title{
	margin-top: 70px;
	margin-right: 100px;
	margin-left: 100px;
	background-color: white;
	border: solid #00CCFF;
	border-radius: 20px;
	text-align: center;
	font-family: Forte, Corbel;
	font-size: 80px;
}

#portal{
	text-align: center;
}

#portal1{
	margin-left: 620px;
	margin-right: 20px;
	border-right: solid;
	float: left;
	padding-right:20px;
}

#portal2{
	float: left;
}

#portal1:hover, #portal2:hover{ 
	font-weight: bold; 
	text-decoration: underline;
}

#login{
	margin: 100px 400px 0px 400px;
	border: solid #00CCFF;
	border-radius: 20px;
	padding: 30px;
	font-color: #0066FF;
}

#log-btn{
	margin-left: 430px;
	border-radius: 10px;
}

#log-btn2{
	margin-left: 290px;
	margin-top: -10px;
	border-radius: 10px;
}



#write{
	float:left;
	margin-top: 5px;
	margin-right: 900px;
	margin-left: 100px;
}

#settings{
	margin-top: -25px;
	margin-right: 100px;
	margin-left: 500px;
	background-color: white;
	border: solid #00CCFF;
	border-radius: 5px;
	text-align: right;
	font-family: Arial;
	font-size: 15px;
	padding-right: 10px;
}

