<div id="main_title">
	<%= link_to image_tag("head.jpg"), sweeters_path %>
</div>
<div id="signup">
	<div id="back">
		<%= link_to 'Back', sweeters_path %>
	</div>
	<center><h3>
	  <strong>Username:</strong>
	  <%= @sweeter.username %>
	</h3></center>

</div>

